In [4]:
 print('Hola desde la consola')

Hola desde la consola

In [5]:
sum = 7 + 4
product = sum * 2
print(product)

22

In [15]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string

In [16]:
# Declaramos la variable
distancia_a_alfa_centauri = 4.367

# Descubrimos su tipo de dato
type(distancia_a_alfa_centauri)

float

In [17]:
x = 2
# x ahora contiene 2.
x += 2
# x incrementado en 2. Si antes contenía 2, ahora tiene un valor de 4.
x -= 2
# x decrementado por 2. Si antes contenía 2, ahora tiene un valor de 0.
x /= 2
# x dividido por 2. Si antes contenía 2, ahora tiene un valor de 1.
x *= 2
# x multiplicado por 2. Si antes contenía 2, ahora tiene un valor de 4.

In [18]:
left_side = 10
right_side = 5
left_side / right_side # 2

2.0

In [19]:
from datetime import date

print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-13

In [21]:
harina = 11
huevos = 3.26156 * harina

print(str(harina) + " harina, es " + str(huevos) + " huevos")

11 harina, es 35.877159999999996 huevos

# Ejemplo de mi día

In [10]:
estudio = 15
dormir = 4
descansar = 5

print(str(estudio) + " hrs. de estudio " + str(dormir) + " hrs. duermo " + str(descansar) + " hrs. descanso o juego")

15 hrs. de estudio 4 hrs. duermo 5 hrs. descanso o juego

In [22]:
print("Bienvenido al programa de bienvenida")
name = input("Introduzca su nombre ")
print("Saludos: " + name)

Bienvenido al programa de bienvenida
Introduzca su nombre Alma
Saludos: Alma

In [12]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(first_number + second_number)

Calculadora
Primer número: 62
Segundo número: 105
62105

In [13]:
print(int(first_number) + int(second_number))

167